{% extends "base.html" %}
{% block content %}

<div class="confirm-card">
  <div class="confirm-icon">⛔</div>
  <div class="page-title">¿Eliminar bloqueo?</div>

  <p>
    Esta acción eliminará el bloqueo de 
    <strong>{{ object.veterinario }}</strong>.
  </p>

  <form method="post">
    {% csrf_token %}
    <div class="form-actions">
      <button type="submit" class="btn-marron">Sí, eliminar</button>
      <a class="btn-verde" href="{% url 'panel:panel_bloqueo_list' %}">Cancelar</a>
    </div>
  </form>
</div>

{% endblock %}