{% extends 'usuarios/base_veterinario.html' %}

{% block content %}

<div class="form-card">
  <div class="page-title">
    🩺 Realizar Consulta - {{ form.initial.mascota.nombre }}
  </div>

  <form method="post">
    {% csrf_token %}

    <!-- 🔹 FORMULARIO CONSULTA -->
    {% for field in form %}
    <div class="form-group">
      <label>{{ field.label }}</label>
      {{ field }}

      {% if field.errors %}
      <small style="color:red;">{{ field.errors }}</small>
      {% endif %} 
    </div>
    {% endfor %}

      <hr>

<h4>🔄 Cambio de servicio (Opcional)</h4>

<div class="form-group">
    <label>Servicio realizado realmente</label>

    <select name="servicio_cambiado" class="form-control">

        <option value="">
            Mantener servicio original
        </option>

        {% for servicio in servicios %}
        <option value="{{ servicio.id }}">
            {{ servicio.nombre }}
        </option>
        {% endfor %}

    </select>
</div>

<div class="form-group">
    <label>Motivo del cambio</label>

    <textarea
        name="motivo_cambio"
        class="form-control"
        rows="3"></textarea>
</div>

</div>

    <!-- 🔹 BOTONES -->
    <div class="form-actions">

  <div class="form-actions">
      <button type="submit" class="btn-verde">
        Guardar Tratamiento
      </button>

  <button type="submit"
    name="accion"
    value="cancelar"
    class="btn-marron"
    formnovalidate>
    ❌ Cancelar Consulta
  </button>

  <!-- 🔥 BOTÓN OPCIONAL -->
  <button type="submit"
    name="accion"
    value="tratamiento"
    class="btn-verde">
    💊 Guardar + Crear Tratamiento
  </button>


  </form>
</div>

{% endblock %}