{% extends 'usuarios/base_veterinario.html' %}

{% block content %}
<style>
    html {font-size: 20px;}
    
    .form-actions{
    display:flex;
    gap:12px;
    flex-wrap:wrap;
    justify-content:flex-start;
    margin-top:25px;
}

.form-actions button{
    border:none;
    border-radius:12px;
    padding:12px 22px;
    font-size:0.9rem;
    font-weight:700;
    cursor:pointer;
    transition:all .25s ease;
    display:flex;
    align-items:center;
    gap:8px;
    box-shadow:0 4px 10px rgba(0,0,0,.08);
}

/* Guardar */
.btn-verde{
    background:linear-gradient(135deg,#2d6a4f,#40916c);
    color:white;
}

.btn-verde:hover{
    transform:translateY(-2px);
    box-shadow:0 8px 18px rgba(64,145,108,.25);
}

/* Cancelar */
.btn-marron{
    background:linear-gradient(135deg,#9c6644,#7f5539);
    color:white;
}

.btn-marron:hover{
    transform:translateY(-2px);
    box-shadow:0 8px 18px rgba(156,102,68,.25);
}

/* Efecto click */
.form-actions button:active{
    transform:scale(.98);
}
</style>
<div class="form-card">
  <div class="page-title">
    🩺 Realizar Consulta - {{ form.initial.mascota.nombre }}
  </div>

  <form method="post">
    {% csrf_token %}

    <!-- 🔹 FORMULARIO CONSULTA -->
    {% for field in form %}
    <div class="form-group">
      <label>{{ field.label }}</label>
      {{ field }}

      {% if field.errors %}
      <small style="color:red;">{{ field.errors }}</small>
      {% endif %} 
    </div>
    {% endfor %}

<hr>

<h4>💉 Aplicar vacunación (Opcional)</h4>

<div class="form-group">
    <label>Vacuna aplicada</label>

    <select name="vacuna_id" class="form-control">
        <option value="">
            No aplicar vacuna
        </option>

        {% for vacuna in vacunas %}
        <option value="{{ vacuna.id }}">
            {{ vacuna.nombre }}
        </option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <label>Número de dosis</label>

    <input
        type="number"
        name="numero_dosis"
        min="1"
        class="form-control">
</div>

<div class="form-group">
    <label>Próxima dosis</label>

    <input
        type="date"
        name="proxima_dosis"
        class="form-control">
</div>

<div class="form-group">
    <label>Observaciones vacunación</label>

    <textarea
        name="observaciones_vacuna"
        rows="3"
        class="form-control"></textarea>
</div>

    <!-- 🔹 BOTONES -->
    <div class="form-actions">

    <button type="submit" class="btn-verde">
        💾 Guardar Tratamiento
    </button>

    <button
        type="submit"
        name="accion"
        value="tratamiento"
        class="btn-verde">
        💊 Guardar + Crear Tratamiento
    </button>

    <button
        type="submit"
        name="accion"
        value="cancelar"
        class="btn-marron"
        formnovalidate>
        ❌ Cancelar Consulta
    </button>

</div>

{% endblock %}