{% extends "base.html" %}
{% block content %}

<div class="form-card">
  <div class="page-title">
    {% if object %}Editar Especialidad{% else %}Nueva Especialidad{% endif %}
  </div>

  <form method="post">
    {% csrf_token %}

    {% for field in form %}
    <div class="form-group">
      <label>{{ field.label }}</label>
      {{ field }}

      {% if field.errors %}
      <small style="color:var(--marron);font-size:.75rem">
        {{ field.errors|join:", " }}
      </small>
      {% endif %}
    </div>
    {% endfor %}

    <div class="form-actions">
      <button type="submit" class="btn-verde">Guardar</button>
      <a class="btn-marron" href="{% url 'panel:panel_especialidad_list' %}">Cancelar</a>
    </div>
  </form>
</div>

{% endblock %}