{% extends "base.html" %}
{% block content %}

<div class="page-header">
  <div>
    <div class="page-title">Vacunas Catalogo</div>
    <div class="page-sub">Catálogo de vacunación</div>
  </div>
  <a class="btn-verde" href="{% url 'panel:panel_vacuna_create' %}">+ Nueva Vacuna</a>
</div>

<div class="table-wrap">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Especie</th>
        <th>Enfermedad</th>
        <th>Precio Adquisición</th>
        <th>Precio Venta</th>
        <th>Laboratorio</th>
        <th>Dosis</th>
        <th>Lote</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for v in vacunas %}
      <tr>
        <td><strong>{{ v.nombre }}</strong></td>
        <td>{{ v.especie }}</td>
        <td>{{ v.enfermedad_objetivo }}</td>
        <td>{{ v.precio_adquisicion }}</td>
        <td>{{ v.precio_venta }}</td>
        <td>{{ v.laboratorio }}</td>
        <td>{{ v.dosis_total }}</td>
        <td>{{ v.lote }}</td>
        <td>

          {% if v.estado == 'activo' %}

            <span style="color:green;font-weight:bold;">
              Activo
            </span>

          {% else %}

            <span style="color:red;font-weight:bold;">
              Inactivo
            </span>

          {% endif %}

        </td>
        <td>
          <div class="acciones">
            <a class="btn-sm btn-editar" href="{% url 'panel:panel_vacuna_edit' v.pk %}">Editar</a>
            <a class="btn-sm btn-eliminar" href="{% url 'panel:panel_vacuna_delete' v.pk %}">Eliminar</a>
          </div>
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="7" class="empty-msg">No hay vacunas registradas.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}